body {
    margin: 0;
}

.header {
    background-color: red;
    width: 100vw;
    height: 20vh;
}

.main {
    background-color: blue;
    width: 100vw;
    height: 60vh;
}

.footer {
    background-color: orange;
    width: 100vw;
    height: 20vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-task-container{
    flex-direction: column ;
    background-color: orchid;
    height: 80%;
    width: 60%;
}

.task-list {
    display: none;
    background-color: white;
    height: 80%;
    width: 80%;
    flex-wrap: wrap;
    overflow: scroll;

}

.hide {
    display: none;
}

.show {
    display: flex;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */  
.task-container {
   background-color: red;
   width: 300px;
   height: 150px;
   display: flex;
   flex-wrap: wrap;
   margin: 5px;;
}
  
.header-task-container {
    width: 100%;
    height: 30%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items:center;
}
  
.main-task-container {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction:column;
    background-color: blue;
    justify-content: center;
    align-items: center;
}
  
.hour-text {
    color: black;
}
  
.priority-text {
    color: black;
    margin-left: 50%;
}
  
p {
    margin: 0;
}
  
hr {
    border:none;
    background-color: white;
    width: 175px;
    height: 3px;
    margin-top: 7%;
    margin-bottom: 4%;
    padding: 0;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
.central {
    width: 200px;
    height: 100px;
    margin: 10px;
    background-color: blue;
    display: flex;
    flex-direction:column;
    justify-content : center;
    align-items: center;
    order: 0;
  }
  
  .order {
    width:200px;
    height:30px;
  }
  
  .hide {
    display: none;
  }
  
  .first {
    order: 1;
  }
  
  .second {
    order: 2;
  }
  
  .third {
    order: 3;
  }

  .tableTask{
      text-align: center;
      border-spacing: 5px 1rem;
      border: 1px solid #333;
  }